<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>UploadiFive Test</title>

</head>

<body>
	<!--include header.html-->
	<div>--------------------</div>
	<div>--------------------</div>
	<img width=100 src="http://avatar.csdn.net/5/0/C/1_y397126710.jpg" />
	<img width=100 src="http://avatar.csdn.net/5/0/C/1_y3971222.jpg" />
	<img width=100 src="http://avatar.csdn.net/5/221_y397126710.jpg" />

	
</body>
</html>