
<% layout('layout') %>
<div class="row">
	<div class="index_category"><img src="img/category.gif" class="index_category_img" /></div>
	
</div>
<div id="main">
<div class="row index_order">
      <div class="fl"><a href="#" class="index_latest">最新</a></div>
      <div class="fl"><a href="#" class="index_hottest">人气</a></div>
	  <div class="cl"></div>
</div>
</div>