<% layout('layout') %>
<% script('js/loginAndregister.js') -%>
 <% stylesheet('css/loginAndregister.css') -%>

<div class="container-fluid">
	<div class="row-fluid">
	 <div class="span4 well well-large" >
       <h2 class="form-signin-heading">Login</h2>
       <label>Username or Email</label>
       <input type="text" name="username"  class="input-block-level" required id="ti_loginusername">
         <span id="loginmessage"></span>
       <label>Password</label>
       <input type="password" name="password"  class="input-block-level" required id="ti_loginpassword">
	   <label class="checkbox">
	   <input type="checkbox">Remember me</label>
       <button type="submit" class="btn btn-large btn-primary" id="loginsubmit"> Login</button>
	 </div>
     <div class="span4 offset0.5">
     <form action="" method="post" class="well well-large" id="form1">
       <h2 class="form-signin-heading">Please sign in</h2>
	   <label>Username</label>
       <input type="text" name="username" class="input-block-level" id="username" placeholder="用户名填写5~12位字符" required >
	   <span id="lengthmin"></span>
		<label>Password</label>
       <input type="password" class="input-block-level" id="input1" required>
	   <label>Password</label>
       <input type="password" class="input-block-level" id="input2" placeholder="Please type again" required>
	   <span id="double"></span>
	   <label>Email</label>
	   <input name="email" id="email" class="input-block-level" type="email" placeholder="lee@123.com" required></br>
       <button type="submit"  class="btn btn-large btn-primary" >Create</button>
   </form>
   </div>
    <div class="span3">
    <div class="well well-small" >
     <h4>
     Have questions?</br>
     <small>We're here to help!</small>
     </h4>
     <ul class="unstyled">
      <li>
       <i class="icon-envelope"></i>
       <a href="mailto:litao6550652@126.com">litao6550652@126.com</a>
      </li>
      <li>
       <i class="icon-user"></i>
       186-5169-4896
      </li>
     </ul>
    </div>
   </div>

   </div>
   </div>
