<% layout('layout') %>
<% script('js/loginAndregister.js') -%>
 <% stylesheet('css/loginAndregister.css') -%>

<div class="container-fluid">
	<div class="row-fluid">
	 <div class="span4 well well-large" >
       <h2 class="form-signin-heading">登陆</h2>
       <label>用户名:</label>
       <input type="text" name="username"  class="input-block-level" required id="ti_loginusername">
         <span id="usernamemessage"></span>
       <label>密码:</label>
       <input type="password" name="password"  class="input-block-level" required id="ti_loginpassword">
         <span id="passwordmessage"></span>
	   <label class="checkbox">
	   <input type="checkbox">记住密码</label>
       <button type="submit" class="btn btn-large btn-primary" id="loginsubmit">登陆</button>
	 </div>
     <div class="span4 offset0.5 well well-large">
     <!--<form action="" method="post" class="well well-large" id="form1">-->
       <h2 class="form-signin-heading">注册</h2>
	   <label>用户名</label>
       <input type="text" name="username" class="input-block-level" id="username" placeholder="用户名填写5~12位字符" required >
	   <span id="lengthmin"></span>
		<label>密码</label>
       <input type="password" class="input-block-level" id="input1" required>
	   <label>重复密码</label>
       <input type="password" class="input-block-level" id="input2" placeholder="请再次输入" required>
	   <span id="double"></span>
	   <label>邮箱</label>
	   <input name="email" id="email" class="input-block-level" type="email" placeholder="@163.com" required></br>
         <span id="ti_email"></span>
       <button type="submit"  class="btn btn-large btn-primary" id="create">创建用户</button>
   <!--</form>-->
   </div>
    <div class="span3">
    <div class="well well-small" >
     <h4>
     有问题?</br>
     <small>We're here to help!</small>
     </h4>
     <ul class="unstyled">
      <li>
       <i class="icon-envelope"></i>
       <a href="mailto:litao6550652@126.com">litao6550652@126.com</a>
      </li>
      <li>
       <i class="icon-user"></i>
       186-5169-4896
      </li>
     </ul>
    </div>
   </div>

   </div>
   </div>
