<% layout('layout') %>
<% script('js/mainpage.js') -%>
<% stylesheet('css/mainpage.css') -%>

<div id="container">
    <div class="item">...</div>
    <div class="item">...</div>
    <div class="item">...</div>
    ...
</div>