<% layout('layout') %>
<% script('js/ajaxfileupload.js') -%>
<% script('js/commonFun.js') -%>
<% script('js/picUpload.js') -%>
<% stylesheet('css/ajaxfileupload.css') -%>
	<img id="loading" src="img/loading.gif" style="display:none;">
	<form action="www.baidu.com" method="post" enctype="multipart/form-data">
		标签：<input id="tags" name="tags" />
		描述：<input id="descriptiondescribe" name="description" />
       <div class="btn btn-primary upload"> 选择图片上传<input id="image_upload" name="image_upload"  multiple="true" type="file" class="upload_file" />  </div>


		<button class="btn" id="buttonUpload" onclick="return ajaxFileUpload();">提交</button>
	</form>
