<% layout('layout') %>
<% script('js/ajaxfileupload.js') -%>
<% script('js/commonFun.js') -%>
<% script('js/picUpload.js') -%>
<% stylesheet('css/ajaxfileupload.css') -%>
	<img id="loading" src="img/loading.gif" style="display:none;">
	<form action="www.baidu.com" method="post" enctype="multipart/form-data">
		标签：<input id="tags" name="tags" />
		描述：<input id="descriptiondescribe" name="description" />
		
		<input id="image_upload" name="image_upload"  type="file" multiple="true">
		<button class="button" id="buttonUpload" onclick="return ajaxFileUpload();">Upload</button
	</form>
